# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.pdf
*.backup
*.karai
*.key
go-karai
graph/*.dat
graph/*.json
.vscode/
./config/p2p/*
main
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
news.json
# Place the notes that are not worth being issues in here
./notes/*
./notes
notes
notes/
config/p2p/peer.id
builds
builds/
./builds
*.cert
*.pub
*.key